.numbered-list {
  text-align: left;
  overflow-y: auto;
  background-color: #f2f2f2;
  height: 100%;
}

.numbered-list h2 {
  padding-left: 16px;
}

.stop-item button {
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 0;
  padding: 8px; /* Adjust padding for better spacing */
}

.stop-item {
  width: 100%;
  margin-bottom: 1px; /* Use margin for separation */
}

.stop-item button {
  color: black;
  width: 100%;
  background-color: #f2f2f2;
}

.nl-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nl-row h2 {
  flex: 0 0 auto;
}

.nl-delete {
  background-color: lightcoral;
  border-radius: 5px;
  color: black;
  border: 1px lightcoral solid;
  margin-right: 8px;
}

.nl-delete:hover {
  color: darkred;
}

.nl-delete:active {
  background-color: lightcoral;
  color: red;
}

.nl-delete span {
  padding-left: 8px;
}
