.numbered-list {
  padding-top: 8svh;
  text-align: left;
  background-color: #f2f2f2;
  overflow: hidden;
}
.nl-list {
  overflow-y: auto;
  padding-bottom: 8svh;
}
.numbered-list h2 {
  padding-left: 16px;
}

.nl-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nl-row h2 {
  flex: 0 0 auto;
}

.nl-delete {
  background-color: lightcoral;
  border-radius: 5px;
  color: black;
  border: 1px lightcoral solid;
  margin-right: 8px;
}

.nl-delete:hover {
  color: darkred;
}

.nl-delete:active {
  background-color: lightcoral;
  color: red;
}

.nl-delete span {
  padding-left: 8px;
}
