.search-bar-input {
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 300px;
}

.search-bar-input:focus::placeholder {
  color: white;
}
