.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #f2f2f2;
  width: 100vw;
  max-height: 100vh;
  background-color: red;
}

.address-display {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.app-button-button {
  height: 8vh;
  border: 1.5px solid green;
  border-radius: 0px;
  color: green;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.app-button-button:active {
  background-color: lightgreen;
  color: darkgreen;
}

.app-button {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 8vh;
  max-height: 8vh;
  background-color: yellow;
}

input {
  border-radius: 0;
}